sample*
.ipynb_checkpoints
simple_web_crawler.ipynb

*.html
web-indexing-and-retrieving-workshop/html
web-indexing-and-retrieving-workshop/index
web-indexing-and-retrieving-workshop/index2
web-indexing-and-retrieving-workshop/demo